{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1 class=title>About</h1>

<div class="container">
    <div class="about-resources-text">
      <p>
        <b>STEPH'S RECS</b> is a <b>personal</b> and <b>unique</b> compliation of <b>addresses</b> gathered from <b>years of travel and experiences around the globe.</b>
        The idea was inspired by frustrations when searching for a restaurant or hotel on applications and websites geared toward travel.
        I remarked that having to click on individual dots on a map, each representing a location, was time-consuming and not particularly user-friendly.
        I desired to have an orgaized list of my own addresses, which can be <b>easily filtered by specific interest categories</b>.
        <br><br>
        This desire to <b>streamline the search</b> for <b>family</b> and <b>friends</b> when they ask for recommendations, but also for myself when I am
        searching for <b>where to eat</b> or an <b>activity</b> to do with friends, served as the inspiration for <b>STEPH'S RECS</b>.
       </p>
    </div>
    <div class="about-resources-image">
      <img src="/static/images/packyourbags.jpg" alt="Pack Your Bags">
    </div>
  </div>


<footer class="container">
    <a href="/" class="button">Home</a>
    <p>&copy; STEPH'S RECS 2024</p>
</footer>
{% endblock %}



