{% extends "layout.html" %}

{% block title %}Resources{% endblock %}

{% block content %}
<h1 class=title>Resources</h1>
<div class="container">
<h6>STEPH'S RECS is coprised of many interest categories, all handpicked by Steph. She is constantly inspired by aromas, food markets and various online resources.
  Read on to understand how she's organized her addresses, what she reads and who has provided the beautiful photos on the site. </h6>
</div>
<div class="container">
    <div class="about-resources-text">

      <p>
        Here's a breakdown.
        You have the choice from the navigation bar to <b>Choose Your Destination</b>.
        <br><br>
        You have the option of selecting <span style="color: #8B4513;font-weight: bold;">Africa, Asia, The Caribbean, Central America, Europe, The Middle East,
          Oceania, South America and North America.</span>
          <br><br>
        Within each <b>Destination</b> you will have the choice of a variety of countries, ranging from <span style="color: #8B4513;font-weight: bold;">The USA, Mexico, France and even Morocco!</span>
        <br><br>
        Once you select a <b>Country</b> you will have a list of addresses with <b>Categories</b> such as <span style="color: #8B4513;font-weight: bold;">Eat & Drink, Stay, Activity</span> each with sub categories which will help narrow down your search.
        You can find <span style="color: #8B4513;font-weight: bold;">Museums and Art Galleries, Shopping,</span> places to <span style="color: #8B4513;font-weight: bold;">Eat</span> and places to <span style="color: #8B4513;font-weight: bold;">Drink</span>.
        The site has a strong offering in <span style="color: #8B4513;font-weight: bold;">Cuisine and Libations</span> which is why you will have numerous category options, surely sufficient to satisfy your tastebuds!
       </p>
    </div>
    <div class="about-resources-image">
      <img src="/static/images/lesar.jpg" alt="Lesar Restaurant">
      <a href="https://www.lesar-restaurant.fr/en/" class="photo-credit">Lesar Restaurant</a>
    </div>
  </div>

  <div class="container">
    <div class="about-resources-image">
      <img src="/static/images/magazine.jpg" alt="Magazine and Coffee">
    </div>
    <div class="about-resources-text">
      <p>
        Here is a short list of some of my favorite articles and websites!
        <ul>
          <li><a href="https://tastetravel.co/">Taste for Travel</a></li>
          <li><a href="https://edibleink.org/">Edible Ink</a></li>
          <li><a href="https://italysegreta.com/">Italy Segreta</a></li>
          <li><a href="https://www.visititaly.eu/it">Visit Italy</a></li>
          <li><a href="https://www.nytimes.com/2022/07/19/travel/basque-spain-where-to-eat.html">5 Great Restaurants to Visit in  Basque Country</a></li>
          <li><a href="https://hiddenca.com/hidden-guide/hidden-gems-in-los-angeles-county/">26 Hidden Gems in Los Angeles County</a></li>
          <li><a href="https://hiddenca.com/hidden-guide/hidden-gems-in-los-angeles-county/">26 Hidden Gems in Los Angeles County</a></li>
        </ul>
      </p>
    </div>
  </div>

<div class="container">
    <div class="about-resources-text">
        <p>Here is a shoutout to the photographers and videographers who created the beautiful images presented on this website!</p>
        <div class="link-columns">
        <ul>
            <li><a href="https://www.pexels.com/@rickyrecap/">Ricky Esquivel</a></li>
            <li><a href="https://unsplash.com/@kylefrederick10">Kyle from the North</a></li>
            <li><a href="https://unsplash.com/@marknealphoto">Mark Neal</a></li>
            <li><a href="https://unsplash.com/@kloaier">Charles Loyer</a></li>
            <li><a href="https://amorosavintage.com/">Mercedes Dutschmann</a></li>
            <li><a href="https://unsplash.com/@michaelbaronr">Michael Barón</a></li>
            <li><a href="https://unsplash.com/@danfreemanphoto">Dan Freeman</a></li>
            <li><a href="https://unsplash.com/@yoavaziz">Yoav Aziz</a></li>
            <li><a href="https://unsplash.com/@robertbye">Robert Bye</a></li>
            <li><a href="https://unsplash.com/@fabiofistarol">Fabio Fistarol</a></li>
            <li><a href="https://unsplash.com/@_miltiadis_">Miltiadis Fraghkidis</a></li>
        </ul>
        <ul>
            <li><a href="https://unsplash.com/@cadop">Mathew Schwartz</a></li>
            <li><a href="https://unsplash.com/@dburka">Daniel Burka</a></li>
            <li><a href="https://www.pexels.com/@benny/">Benjamin Achrainer</a></li>
            <li><a href="https://www.pexels.com/@athena/">Athena Sandrini</a></li>
            <li><a href="https://www.pexels.com/@ben-traveling-96284025/">Ben Traveling</a></li>
            <li><a href="https://www.pexels.com/@jeffrey-czum-254391/">Jeffrey Czuml</a></li>
            <li><a href="https://www.pexels.com/@emmanuel-codden-1502600/highlights/">Emmanuel Codden</a></li>
            <li><a href="https://unsplash.com/@potapenko">Maksym Potapenko</a></li>
            <li><a href="https://unsplash.com/@rmaedavis">Rachel Davis</a></li>
          <li><a href="https://www.pexels.com/@matthardy/">Matt Hardy</a></li>
        </ul>
        <ul>
          <li><a href="https://unsplash.com/@alexazabache">Alex Azabache</a></li>
          <li><a href="https://unsplash.com/@samferrara">Samuel Ferrara</a></li>
          <li><a href="https://www.pexels.com/@gonzalo-acuna-166058093/">Gonzalo Acuña</a></li>
          <li><a href="https://unsplash.com/@mohammed_ajwad">Mohammed Ajwad</a></li>
          <li><a href="https://unsplash.com/@chris_czermak">Chris Czermak</a></li>
          <li><a href="https://www.pexels.com/@kayla-ihrig-47825/">Kayla Ihrig</a></li>
          <li><a href="https://unsplash.com/@danielfazio">Daniel Fazio</a></li>
          <li><a href="https://www.pexels.com/@kovyrina/">Tetyana Kovyrina</a></li>
          <li><a href="https://www.pexels.com/@route2tushar/">Tushar Mahajan</a></li>
          <li><a href="https://www.pexels.com/@nextvoyage/highlights/">Nextvoyage</a></li>
        </ul>
        <ul>
          <li><a href="https://www.pexels.com/@enricoperini/">Enrico Perini</a></li>
          <li><a href="https://unsplash.com/@filipovsky">Filip Gielda</a></li>
          <li><a href="https://www.pexels.com/@andre-furtado-43594/">Andre Furtado</a></li>
          <li><a href="https://unsplash.com/@erol">Erol Ahmed</a></li>
          <li><a href="https://www.pexels.com/@rachel-claire/highlights/">Rachel Claire</a></li>
          <li><a href="https://www.pexels.com/@ali-dashti-506667798/collections/">Ali Dashti</a></li>
          <li><a href="https://www.pexels.com/@clara-blasco-482945/">Clara Blasco</a></li>
          <li><a href="https://www.pexels.com/fr-fr/@mery-stockera-427038930/">Mery Stockera</a></li>
          <li><a href="https://www.pexels.com/@polina-kovaleva/">Polina Kovaleva</a></li>
          <li><a href="https://www.pexels.com/@kelly-1179532/">Kelly Lacy</a></li>
          <li><a href="https://www.pexels.com/@hansol-kim-429370/">Hansol Kim</a></li>
        </ul>
      </div>
  </div>
  <div class="about-resources-image-last">
      <img src="/static/images/photographer.jpg" alt="Photographer in Desert">
  </div>
</div>

<footer class="container">
    <a href="/" class="button">Home</a>
    <p>&copy; STEPH'S RECS 2024</p>
</footer>
{% endblock %}

